<footer class="mt-6 py-5 print:hidden">
  {{/* Footer menu */}}
  {{ if .Site.Menus.footer }}
    <nav class="pb-4 text-base font-medium text-neutral-500 dark:text-neutral-400">
      <ul class="flex flex-col list-none sm:flex-row justify-start">
        {{ range .Site.Menus.footer }}
          {{ if and (eq .Params.action "locale") (or (not page.IsTranslated) (not site.IsMultiLingual)) }}
            {{ continue }}
          {{ end }}
          <li class="mb-1 sm:mb-0 ltr:sm:mr-7 rtl:sm:ml-7 ltr:sm:last:mr-0 rtl:sm:last:ml-0">
            {{ if eq .Params.action "search" }}
              {{ $.Scratch.Add "searchCount" 1 }}
              {{ if $.Site.Params.enableSearch | default false }}
                <button
                  id="search-button-{{ $.Scratch.Get "searchCount" }}"
                  title="{{ .Title | default (i18n "search.open_button_title") }}"
                  class="inline-block px-2 py-1 rounded-lg text-neutral-500 hover:text-primary-600 dark:text-neutral-400 dark:hover:text-primary-400 transition-colors"
                >
                  {{ with .Params.icon }}
                    <span class="inline-block align-text-bottom">
                      {{- partial "icon.html" . -}}
                    </span>
                  {{- end -}}
                  {{- if .Params.showName | default true -}}
                    <span class="ml-2">{{ .Name | markdownify | emojify }}</span>
                  {{ end }}
                </button>
              {{ end }}
            {{ else }}
              <a href="{{ .URL }}" title="{{ .Title }}" {{ with .Params.target }}target="{{ . }}"{{ end }} class="inline-block px-2 py-1 rounded-lg text-neutral-500 hover:text-primary-600 dark:text-neutral-400 dark:hover:text-primary-400 transition-colors">
                {{ with .Params.icon }}
                  <span class="inline-block align-middle">
                    {{- partial "icon.html" . -}}
                  </span>
                {{- end -}}
                {{- if .Params.showName | default true -}}
                  <span class="ml-2">{{ .Name | markdownify | emojify }}</span>
                {{ end }}
              </a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
  <div class="flex flex-col items-center justify-between sm:flex-row">
    <div class="text-sm text-neutral-700 dark:text-neutral-400">
      {{/* Copyright */}}
      {{ if .Site.Params.footer.showCopyright | default true }}
        <p>
          {{- with site.Copyright }}
            {{ . | emojify | markdownify }}
          {{- else }}
            &copy;
            {{ now.Format "2006" }}
            {{ .Site.Language.Params.Author.name | markdownify | emojify }}
          {{- end }}
        </p>
      {{ end }}
    </div>
    <div class="flex items-center justify-end mt-2 sm:mt-0">
      {{/* Locale switcher */}}
      {{ if and (.IsTranslated) (eq ($.Scratch.Get "localeCount") 0) }}
        <div>
          {{ partial "translations.html" (dict "ctx" . "dir" "up") }}
        </div>
      {{ end }}
      {{/* Appearance switcher */}}
      {{ if .Site.Params.footer.showAppearanceSwitcher | default false }}
        <div class="{{ if .Site.Params.footer.showScrollToTop | default true -}} me-14 mb-2 {{- end }} cursor-pointer text-sm text-neutral-700 hover:text-primary-600 dark:text-neutral dark:hover:text-primary-400">
          <button id="appearance-switcher-0" type="button" aria-label="appearance switcher">
            <div class="flex h-12 w-12 items-center justify-center dark:hidden" title="{{ i18n "footer.dark_appearance" }}">
              {{ partial "icon.html" "moon" }}
            </div>
            <div class="hidden h-12 w-12 items-center justify-center dark:flex" title="{{ i18n "footer.light_appearance" }}">
              {{ partial "icon.html" "sun" }}
            </div>
          </button>
        </div>
      {{ end }}
    </div>
  </div>
  {{/* Extend footer - eg. for extra scripts, etc. */}}
  {{ if templates.Exists "partials/extend-footer.html" }}
    {{ partial "extend-footer.html" . }}
  {{ end }}
</footer>



